#pdf-show
  .top-bar.btn-toolbar.options-toolbar.bg-light(role="toolbar")
    include ../../font-size
    .btn-group.btn-group-sm(role="group")
      button.btn.btn-sm.btn-light.download-pdf(type="button" title="Download PDF")
        span.fas.fa-download
        span.hideable Download
.col-lg(id='cambiar_pdf' style="width: 100%; height: 100%; min-height: 400px;")
  | INSERT_PDF_HERE
  .content.output-content(style="width: 100%; height: 100%; min-height: 400px;")
    //- El iframe se inyectará aquí mediante el TS


